.list {
  display: flex;
  flex-direction: column;
}

.item {
  list-style: none;

}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.link:hover {
  color: blue;
}
