.container {
  padding-top: 10px;
}

.flex {
  display: flex;
  padding: 10px;
}

.img {
  width: 250px;
  height: 350px;
  border-radius: 5px;
  margin-right: 15px;
}

.list {
  text-align: left;
}

.buttonLink {
  padding: 5px;
  margin-left: 15px;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.buttonLink:hover {
  background: blue;
}

.infoBox {
  margin: 0, 5px, 0, 5px;
  padding: 15px;
}